body {
	background-color: #f4f4f4;
}

.navbar-lewagon {
  justify-content: space-between;
  background: #f4f4f4;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}

.dropdown-toggle {
	width: 56px;
    border-radius: 50%;
}


.banner {
  background-size: cover;
  background-position: center;
  padding: 150px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);


}

p {
  font-family: 'Noto Sans TC', sans-serif;
}


h2 {
font-family: 'Playfair Display', sans-serif;
font-size: 40px;
}


h3 {
   font-family: 'Kanit', sans-serif;
   font-size: 25px;
}


h4 {
  font-family: 'Kanit', sans-serif;
  font-size: 25px;
}


h5 {
font-family: 'Kanit', sans-serif;
font-size: 25px;
}


h6 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
}

.footer {
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 20px 50px;
  color: #a6ca50;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}